:root {
  --board-margins: 1vh solid gray;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

main {
  margin: calc(25vh / 2) 0;
  --board-size: calc(75vh / 3);
  display: grid;
  grid-template-columns: repeat(3, var(--board-size));
  grid-template-rows: repeat(3, var(--board-size));
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vh;
}

#pos0 {
  border-right: var(--board-margins);
  border-bottom: var(--board-margins);
}

#pos1 {
  border-bottom: var(--board-margins);
}

#pos2 {
  border-left: var(--board-margins);
  border-bottom: var(--board-margins);
}

#pos3 {
  border-right: var(--board-margins);
}

#pos5 {
  border-left: var(--board-margins);
}

#pos6 {
  border-right: var(--board-margins);
  border-top: var(--board-margins);
}

#pos7 {
  border-top: var(--board-margins);
}

#pos8 {
  border-left: var(--board-margins);
  border-top: var(--board-margins);
}
