:root {
  --dark-color: #1c0221;
  --light-color: #8f6d8f;
  --board-margins: 1vh solid var(--light-color);
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  background-color: var(--dark-color);
}

.player-name input {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
  border-radius: 8px;
  padding: 16px 0;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.player-name input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 2px solid rgba(255, 255, 255, 0.2);
}

.player-name input:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.player-score {
  color: var(--light-color);
  text-align: center;
  font-size: 10rem;
  font-weight: bold;
  margin: 16px 0;
}

.player-turn-indicator {
  color: var(--light-color);
  text-align: center;
  font-size: 1.5rem;
  height: 1.5rem;
}

.center-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 2px solid var(--light-color);
  border-radius: 8px;
  padding: 8px 32px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.game-board {
  margin: 64px 0;
  --board-size: calc(75vh / 3);
  display: grid;
  grid-template-columns: repeat(3, var(--board-size));
  grid-template-rows: repeat(3, var(--board-size));
}

.game-board div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vh;
  font-weight: bold;
  color: var(--light-color);
}

[data-position="0"] {
  border-right: var(--board-margins);
  border-bottom: var(--board-margins);
}

[data-position="1"] {
  border-bottom: var(--board-margins);
}

[data-position="2"] {
  border-left: var(--board-margins);
  border-bottom: var(--board-margins);
}

[data-position="3"] {
  border-right: var(--board-margins);
}

[data-position="5"] {
  border-left: var(--board-margins);
}

[data-position="6"] {
  border-right: var(--board-margins);
  border-top: var(--board-margins);
}

[data-position="7"] {
  border-top: var(--board-margins);
}

[data-position="8"] {
  border-left: var(--board-margins);
  border-top: var(--board-margins);
}
