$main: #1d7874;
$background: #000;
$text: #fff;
$border-radius: 8px;

body {
  background-color: $background;
  color: $text;
  font-family: Nunito, sans-serif;

  height: 100vh;
  height: 100svh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;

  button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
  }

  main {
    display: flex;
    flex-flow: column;
    align-items: center;

    h1 {
      text-align: center;
      margin: 1rem;
    }

    .score {
      $gap: 4px;
      display: flex;
      flex-flow: column;
      gap: $gap;
      margin: 1rem;
      border: 2px solid $text;
      padding: $gap;
      border-radius: $border-radius;

      .player-score-group {
        display: flex;
        gap: 2rem;
        padding: 0.5rem;
        border-radius: calc($border-radius / 2);

        &.active {
          background-color: $main;
        }
      }
    }

    #board-status {
      text-align: center;
    }

    #board {
      display: grid;
      $square-size: 5rem;
      grid-template-columns: repeat(3, $square-size);
      gap: 4px;
      background-color: $main;
      margin: 0 auto;

      button {
        height: $square-size;
        background-color: $background;
        border: none;
        color: $text;
        //border-radius: $border-radius;
        font-size: 3rem;
      }
    }
  }

  footer {
    text-align: center;
    padding: 0.5rem;
  }
}
