$main: #1d7874;
$danger: darkred;
$background: #000;
$text: #fff;
$border-radius: 8px;

body {
  background-color: $background;
  color: $text;
  font-family: Nunito, sans-serif;

  height: 100vh;
  height: 100svh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;

  button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
  }

  main {
    display: flex;
    flex-flow: column;
    align-items: center;

    h1 {
      text-align: center;
      margin: 1rem;
    }

    .score {
      $gap: 4px;
      display: flex;
      flex-flow: column;
      gap: $gap;
      margin: 1rem;
      border: 2px solid $text;
      padding: $gap;
      border-radius: $border-radius;

      .player-score-group {
        display: flex;
        gap: 2rem;
        padding: 0.25rem 1rem;
        border-radius: calc($border-radius / 2);

        &.active {
          background-color: $main;
        }
      }
    }

    #board-status {
      text-align: center;
    }

    #board {
      display: grid;
      $square-size: 5rem;
      grid-template-columns: repeat(3, $square-size);
      gap: 4px;
      background-color: $background;
      margin: 2rem auto;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $square-size;
        background-color: $main;
        border: none;
        color: $text;
        font-size: 4rem;

        &:nth-of-type(1) {
          border-radius: $border-radius 0 0 0;
        }
        &:nth-of-type(3) {
          border-radius: 0 $border-radius 0 0;
        }
        &:nth-of-type(7) {
          border-radius: 0 0 0 $border-radius;
        }
        &:nth-of-type(9) {
          border-radius: 0 0 $border-radius 0;
        }
      }
    }

    .controls {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      align-items: center;

      button {
        background-color: $main;
        color: $text;
        border: none;
        border-radius: $border-radius;
        padding: 0.25rem 1rem;
        transition: opacity 0.5s;

        &:disabled {
          opacity: 0.3;
        }

        &.restart-score {
          background-color: $danger;
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 0.5rem;

    a {
      font-weight: bold;
      color: $main;
    }
  }
}
